@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
}
.image-interaction {
    width: 25%;
    border: 1px solid black;
    position: relative;
    color: #ffffff;
}
.info{
    position: absolute;
    top: 448px;
    left: 40px;
}
.info h2{
    font-family: "Poppins", sans-serif;
    font-size: 30px;
    font-weight: 700;
    line-height: 34.5px;
}

.info span{
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 400;
    line-height: 16.02px;
    opacity: 70%;
    margin-top: 8px;
}
.more-info {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 10px;
}

.more-info a {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    color: inherit;
    font-size: 16px;
}

.more-info i {
    margin-left: 5px;
}
.image-interaction img{
    width: 100%;
}